{% extends "base.html" %}
{% block title %}Call For Papers{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home text-left">
  <h2>Get your proposals in by November 15th!</h2>
  <p>We are looking for a variety of talks on work-related subjects. Talks should be 50 minutes in length.</p>
  <p>You don't need to submit your full presentation: just a brief overview of what materials will be covered is needed.</p>
  <hr>
  <h2>Fill out this form to share at 12Bcon.</h2>
  <form class="bs-example form-horizontal" method="post">
    <fieldset>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="cfpName">Name</label>
        <div class="col-lg-10">
          <input type="text" placeholder="Name" id="cfpName" name="name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="cfpEmail">Email</label>
        <div class="col-lg-10">
          <input type="text" placeholder="Email" id="cfpEmail" name="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label" for="cfpSummary">Paper Summary</label>
        <div class="col-lg-10">
          <textarea id="cfpSummary" rows="3" class="form-control" placeholder="You don't need to submit your full presentation. Just a brief overview of what materials will be covered is needed." name="summary"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button class="btn btn-primary" type="submit">Submit</button> 
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
