{% extends "base.html" %}
{% block title %}FAQs{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home text-left">
<h2>Frequently Asked Questions</h2>

    <hr>
    <h4 class="list-group-item-heading">Will lunch be served?</h4>
    <p class="list-group-item-text">Yes, we will have several options available including vegetarian.</p>
    
    <hr>
    <h4 class="list-group-item-heading">Who is Chad Gray?</h4>
    <p class="list-group-item-text">Just some guy.</p>
    
    <hr>
    <h4 class="list-group-item-heading">Will I learn anything?</h4>
    <p class="list-group-item-text">Perhaps, that is entirely up to you.</p>

<hr>
<p>If we don't cover it here feel free to <a href="mailto:12bcon@dominionenterprises.com">email us</a> for more details.</p>    
</div>

{% endblock %}
