{% extends "base.html" %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home text-left">
  <h2>Frequently Asked Questions</h2>
  {% for question, answer in faq %}
    {% if not loop.first %}<hr>{% endif %}
    <h4 class="list-group-item-heading">{{ question }}</h4>
    <p class="list-group-item-text">{{ answer }}</p>
  {% endfor %}

  <hr>
  <p>If we don't cover it here feel free to <a href="mailto:de12bcon@dominionenterprises.com">email us</a> for more details.</p>
</div>

{% endblock %}
