{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home text-center">
    <p>The inaugural 12Bcon has come and gone!  A variety of <a href="topics">topics</a> were covered and we want to thank everyone who attended.</p>
    <p><a href="https://drive.google.com/folderview?id=0B1RRAO3TxJk2RHBzcDNlcFBYbDA&usp=sharing">View the presentation from the sessions.</a></p>
    <hr />
    <a class="twitter-timeline"  href="https://twitter.com/search?q=%23DeDevCon"  data-widget-id="403611164921196544">Tweets about "#DeDevCon"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <p>Talk about us #DeDevCon #Narwhal</p>
  </div>
{% endblock %}
