{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home text-center">
    <h2>Mark your calendar for Friday, December 13th</h2>
    <p>The inaugural 12Bcon is coming!  A variety of topics will be covered, but we need your help.  If you'd like to submit a topic, respond to our <a href="cfp">Call for Papers</a>.  Stay tuned for more information.</p>
    <a href="cfp" class="btn btn-primary btn-huge">Submit Your Proposal</a>
  </div>
{% endblock %}
