{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home jumbotron-other text-left">
  <h2>People</h2>

  {% for id, person in people %}
    <hr>
    <a name="{{ id }}"></a>
    <h5 class="list-group-item-heading">{{ person.name }}</h5>
    <p class="list-group-item-text">{{ person.description }}</p>
    {% if person.twitter %}
        <a href="https://twitter.com/{{ person.twitter }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ person.twitter }}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {% endif %}
  {% endfor %}

  <hr>
  <p>If you have any questions please feel free to <a href="mailto:de12bcon@dominionenterprises.com">email us</a> for more details.</p>    
</div>
{% endblock %}
