{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-other jumbotron-other text-left">
<h2>People</h2>

    <hr>
    <a name="anthony_bittle"></a>
    <h5 class="list-group-item-heading">Anthony Bittle</h5>
    <p class="list-group-item-text">Guy with a nose! Ask him about that at the conference.</p>

    <hr>
    <a name="brandon_beigay"></a>
    <h5 class="list-group-item-heading">Brandon Beigay</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="chad_gray"></a>
    <h5 class="list-group-item-heading">Chad Gray</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="chante_velez"></a>
    <h5 class="list-group-item-heading">Chante Velez</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="chris_ryan"></a>
    <h5 class="list-group-item-heading">Chris Ryan</h5>
    <p class="list-group-item-text">Chris has been doing software development for over 15 years.  Experience in C, C++, Java, Php, Javascript and several others.  Has worked on both websites and desktop applications with multi-platform support doing network, database, and application development.  Has been active in improving the infrastructure and culture of development processes to better both the individuals and codebases of the Dominion Web Solutions websites.</p>

    <hr>
    <a name="dan_allen"></a>
    <h5 class="list-group-item-heading">Dan Allen</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="michelle_brooks"></a>
    <h5 class="list-group-item-heading">Michelle Brooks</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="ryan_goodwin"></a>
    <h5 class="list-group-item-heading">Ryan Goodwin</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="spencer_rinehart"></a>
    <h5 class="list-group-item-heading">Spencer Rinehart</h5>
    <p class="list-group-item-text">Some Guy! Seriously? We have overused this joke.  When you send me a real bio I'll update the site.</p>

    <hr>
    <a name="vincent_scrimenti"></a>
    <h5 class="list-group-item-heading">Vincent Scrimenti</h5>
    <p class="list-group-item-text">Vincent started his I.T. career at Compaq Computer Corporation and Gateway Computer Corporation as a "Technical Competitive Analyst".  Worked as a Website Administrator and Developer for Shell Oil Corporation.  Former Information Systems Security Analyst for Internal Revenue Service, Department Homeland Security, and U.S. Army's Unit Level Logistics System-Aviation (Enhanced).  Former Systems Administrator for U.S. Navy Submarine Warfare Training Facility.</p>

<hr>
<p>If you have any questions please feel free to <a href="mailto:de12bcon@dominionenterprises.com">email us</a> for more details.</p>    
</div>

{% endblock %}
