{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home jumbotron-other text-left">
<h2>People</h2>

    <hr>
    <a name="anthony_bittle"></a>
    <h5 class="list-group-item-heading">Anthony Bittle</h5>
    <p class="list-group-item-text">Guy with a nose! Ask him about that at the conference.</p>

    <hr>
    <a name="brandon_beigay"></a>
    <h5 class="list-group-item-heading">Brandon Beigay</h5>
    <p class="list-group-item-text">Brandon is the project manager for the DWS Recreation team.</p>

    <hr>
    <a name="chad_gray"></a>
    <h5 class="list-group-item-heading">Chad Gray</h5>
    <p class="list-group-item-text">Chad has been developing with PHP for 10+ years and has been employed by Dominion Enterprises for the past 8 years. While at Dominion, Chad has helped lead the charge in API and OpenSource development. He is also a member of the Hampton Roads PHP Meet Up and an avid comic collector</p>

    <hr>
    <a name="chante_velez"></a>
    <h5 class="list-group-item-heading">Chante Velez</h5>
    <p class="list-group-item-text">Chante Velez, born and raised in Brooklyn New York, moved to VA in 1994.  I received my Associates Degree in Information Systems from TCC in 1996 took two years off to have my daughter and then graduated from Old Dominion University with an MIS Degree in 2000.</p>
    <p class="list-group-item-text">Began working for Dominion Enterprises (formally known as Trader Publishing Company) in Dec 2000 as a QA Analyst for the Operations Team. I gradually moved from an Analyst; to a DB Programmer; to Systems Business Analyst; to my current position as an IT Project Manager.</p>
    <p class="list-group-item-text">I began using the Agile Development process in the summer of 2011 and became a Certified Scrum Master in May 2013.  I attended the Scrum Alliance Conference in Las Vegas in May 2013 and had the opportunity to actually hear one of the original authors of the Manifesto for Agile Software Development  -- Alistair Cockburn – speak, as well as one of the co-creators of Scrum – Jeff Sutherland.</p>
    <p class="list-group-item-text">I look forward to learning as much as I can about the Agile Development process, as well as all of the tools and practices that go along with Scrum.  I currently use the agile development and Scrum practices in my day to day work routine and it definitely helps my team stay on task.  I would challenge many to give it a try and see how it improves your daily routines.</p>

    <hr>
    <a name="chris_ryan"></a>
    <h5 class="list-group-item-heading">Chris Ryan</h5>
    <p class="list-group-item-text">Chris has been doing software development for over 15 years.  Experience in C, C++, Java, Php, Javascript and several others.  Has worked on both websites and desktop applications with multi-platform support doing network, database, and application development.  Has been active in improving the infrastructure and culture of development processes to better both the individuals and codebases of the Dominion Web Solutions websites.</p>

    <hr>
    <a name="dan_allen"></a>
    <h5 class="list-group-item-heading">Dan Allen</h5>
    <p class="list-group-item-text">Dan is a developer for the DWS Commercial team.</p>

    <hr>
    <a name="michelle_brooks"></a>
    <h5 class="list-group-item-heading">Michelle Brooks</h5>
    <p class="list-group-item-text">
        <ul>
            <li>2005-present:  Eight years with Dominion Enterprises/TraderOnline.com working with internet software operations development teams
                <ul>
                    <li>Started as Product Developer with RVTraderOnline.com</li>
                    <li>Currently Senior Project Manager for the Commercial DWS group (CommercialTruck &amp; Equipment)
                        <ul>
                            <li>Major projects include:
                                <ul>
                                    <li>Site reconstruction from coldfusion to PHP5</li>
                                    <li>IMT reconstruction from coldfusion to PHP5</li>
                                    <li>Disaster Recovery</li>
                                    <li>Mobile/Tablet IMT Apps</li>
                                    <li>Auction/Instant Purchase/Make an Offer</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>2012 Certified ScrumMaster from SrumAlliance</li>
            <li>1992-2005: 13 years with HarrisConnect/Harris Publishing Co., Inc. as Data Services Manager
                <ul>
                    <li>Managed a team of 20 programmers for an alumni directory and website company. The team was responsible for:
                        <ul>
                            <li>Converting institutional databases from several platforms into SQL</li>
                            <li>Performing address, phone and email vendor updates</li>
                            <li>Maintaining the databases through regular mail and phoning updates</li>
                            <li>Converting the database back into a format specified by the institution for upload into their system</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>1987-1991: BA Communications, Technical Writing from Virginia Polytechnic Institute and State University</li>
        </ul>
    </p>

    <hr>
    <a name="ryan_goodwin"></a>
    <h5 class="list-group-item-heading">Ryan Goodwin</h5>
    <p class="list-group-item-text">Ryan is the manager for the DWS Commercial team.</p>

    <hr>
    <a name="spencer_rinehart"></a>
    <h5 class="list-group-item-heading">Spencer Rinehart</h5>
    <p class="list-group-item-text">Spencer has been programming for 15 years, beginning with TI-BASIC and Motorola 68000 assembly on his TI-89 graphing calculator.  He has been doing php development and server administration for 10 years and has been a Dominion employee for 7.  An avid open-source enthusiast, he has a github contribution streak over 100 days long and received an elephpant from the Zeev, the "Ze" of Zend at ZendCon 2013.</p>

    <hr>
    <a name="vincent_scrimenti"></a>
    <h5 class="list-group-item-heading">Vincent Scrimenti</h5>
    <p class="list-group-item-text">Vincent started his I.T. career at Compaq Computer Corporation and Gateway Computer Corporation as a "Technical Competitive Analyst".  Worked as a Website Administrator and Developer for Shell Oil Corporation.  Former Information Systems Security Analyst for Internal Revenue Service, Department Homeland Security, and U.S. Army's Unit Level Logistics System-Aviation (Enhanced).  Former Systems Administrator for U.S. Navy Submarine Warfare Training Facility.</p>

<hr>
<p>If you have any questions please feel free to <a href="mailto:de12bcon@dominionenterprises.com">email us</a> for more details.</p>    
</div>

{% endblock %}
