{% extends "base.html" %}
{% block title %}FAQs{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home text-left">
<h2>Schedule of Speakers</h2>
<hr>
<p>All presentations will take place on the 20th floor in the designated rooms. Please verify room and topic in case of any last minute changes.</p>
<hr>
<table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>York Room</th>
                    <th>Piankatank Room</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>9:00am</td>
                    <td><h4>UI Priciples</h4><h5 class="text-primary">Jack Mayer - ForRent.org</h5></td>
                    <td><h4>PHP Wizardry</h4><h5>Anthony Bittle - TOL REC</h5></td>
                  </tr>
                  <tr>
                    <td>10:00am</td>
                    <td><h4>How To Win At Everything</h4><h5>Johnny B. Good</h5></td>
                    <td><h4>Systems Analysis</h4><h5>Hoover Cair - Homes.com</h5></td>
                  </tr>
                  <tr>
                    <td>11:00am</td>
                    <td><h4>Peer Programming By Yourself in Isolation on Tuesday</h4><h5>Larry Covingtonson</h5></td>
                    <td><h4>Programming With Pencils</h4><h5>No.2 Team - GetRedy.net</h5></td>
                  </tr>
                  <tr>
                    <td>12:00am</td>
                    <td><h4>Best Guess Logic</h4><h5>Larry Covingtonson</h5></td>
                    <td><h4>Logic FTW</h4><h5>Carry Hovingtonsen</h5></td>
                  </tr>
                  <tr>
                    <td>1:00pm</td>
                    <td><h4>Forcing Your Users to Give Up</h4><h5>Fred Hechinger</h5></td>
                    <td><h4>Delete All</h4><h5>Sarah George</h5></td>
                  </tr>
                  <tr>
                    <td>2:00pm</td>
                    <td><h4>Creating Cat Gifs</h4><h5>Jenny Purple</h5></td>
                    <td><h4>Using the Internet</h4><h5>I.N.General</h5></td>
                  </tr>
                  <tr>
                    <td>3:00pm</td>
                    <td><h4>Forget Lunch, Work Forever</h4><h5>Kim Harding</h5></td>
                    <td><h4>How To Pick a Great Chair</h4><h5>Jeff Bezos</h5></td>
                  </tr>
                  <tr>
                    <td>4:00pm</td>
                    <td><h4>User Tools - The Keyboard</h4><h5>Geoff Guff</h5></td>
                    <td><h4>Peer Programming By Yourself in Isolation on Friday</h4><h5>Larry Covingtonson</h5></td>
                  </tr>
                  <tr>
                    <td>5:00pm</td>
                    <td><h4>User Tools - The Monitor</h4><h5>Geoff Guff</h5></td>
                    <td><h4>User Tools - The Coffee Maker</h4><h5>Geoff Guff</h5></td>
                  </tr>
                </tbody>
              </table>



</div>

{% endblock %}
