{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home text-left">
<h2>Schedule of Speakers</h2>
<hr>
<p>All presentations will take place on the 20th floor in the designated rooms. Please verify room and topic in case of any last minute changes.</p>
<hr>
<table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>York Room</th>
                    <th>Lynnhaven Room</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>8:30am</td>
                    <td><h4>Coffee/Opening remarks</h4></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>9:00am</td>
                    <td><h4><a href="topics#virtualization">Virtualization</a></h4><h5><a href="people#spencer_rinehart">Spencer Rinehart</a></h5></td>
                    <td><h4><a href="topics#phpunit">PhpUnit</a></h4><h5><a href="people#chris_ryan">Chris Ryan</a></h5></td>
                  </tr>
                  <tr>
                    <td>10:00am</td>
                    <td><h4><a href="topics#noui">No UI</a></h4><h5><a href="people#ryan_goodwin">Ryan Goodwin</a></h5></td>
                    <td><h4><a href="topics#oocalesthenics">Get Your Code Into Shape with Object Calisthenics</a></h4><h5><a href="people#chad_gray">Chad Gray</a></h5></td>
                  <tr>
                    <td>11:00am</td>
                    <td><h4><a href="topics#vagrant">Vagrant</a></h4><h5><a href="people#anthony_bittle">Anthony Bittle</a></h5></td>
                    <td><h4><a href="topics#security">Security</a></h4><h5><a href="people#spencer_rinehart">Spencer Rinehart</a></h5></td>
                  </tr>
                  <tr>
                    <td>12:00pm</td>
                    <td colspan="2"><h4><center>Break</center></h4></td>
                  </tr>
                  <tr>
                    <td>1:00pm</td>
                    <td><h4>No Session</h4></td>
                    <td><h4><a href="topics#agile">Agile + Scrum = +1 Keynote/Q&amp;A</a></h4><h5><a href="people#brandon_beigay">Brandon Beigay</a>, <a href="people#michelle_brooks">Michelle Brooks</a>, <a href="people#chante_velez">Chante Velez</a></h5></td>
                  </tr>
                  <tr>
                    <td>2:00pm</td>
                    <td><h4><a href="topics#azure">Intro to Cloud with Windows Azure</a></h4><h5><a href="people#vincent_scrimenti">Vincent Scrimenti</a></h5></td>
                    <td><h4><a href="topics#depinjection">Dependency Injection</a></h4><h5><a href="people#spencer_rinehart">Spencer Rinehart</a></h5></td>
                  </tr>
                  <tr>
                    <td>3:00pm</td>
                    <td><h4>No Session</h4></td>
                    <td><h4><a href="topics#mongodb">Mongo DB</a></h4><h5><a href="people#dan_allen">Dan Allen</a></h5></td>
                  </tr>
                </tbody>
              </table>


</div>

{% endblock %}
