{% extends "base.html" %}
{% block title %}Topics{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home text-left">
<h2>Topic Details</h2>

    <hr>
    <a name="agile"></a>
    <h4 class="list-group-item-heading">Agile + Scrum = +1 Keynote</h4>
    <h5 class="list-group-item-heading"><a href="people#brandon_beigay">Brandon Beigay</a>, <a href="people#michelle_brooks">Michelle Brooks</a>, <a href="people#chante_velez">Chante Velez</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="depinjection"></a>
    <h4 class="list-group-item-heading">Dependency Injection</h4>
    <h5 class="list-group-item-heading"><a href="people#spencer_rinehart">Spencer Rinehart</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="azure"></a>
    <h4 class="list-group-item-heading">Intro to Cloud with Windows Azure</h4>
    <h5 class="list-group-item-heading"><a href="people#vincent_scrimenti">Vincent Scrimenti</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="mongodb"></a>
    <h4 class="list-group-item-heading">MongoDB</h4>
    <h5 class="list-group-item-heading"><a href="people#dan_allen">Dan Allen</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="noui"></a>
    <h4 class="list-group-item-heading">No UI</h4>
    <h5 class="list-group-item-heading"><a href="people#ryan_goodwin">Ryan Goodwin</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="oocalesthenics"></a>
    <h4 class="list-group-item-heading">Object Orientated Calesthenics</h4>
    <h5 class="list-group-item-heading"><a href="people#chad_gray">Chad Gray</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="phpunit"></a>
    <h4 class="list-group-item-heading">PhpUnit</h4>
    <h5 class="list-group-item-heading"><a href="people#chris_ryan">Chris Ryan</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="security"></a>
    <h4 class="list-group-item-heading">Security</h4>
    <h5 class="list-group-item-heading">TBA</h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="ubuntu"></a>
    <h4 class="list-group-item-heading">Setup Ubuntu with Apache and Php</h4>
    <h5 class="list-group-item-heading"><a href="people#dan_allen">Dan Allen</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="vagrant"></a>
    <h4 class="list-group-item-heading">Vagrant</h4>
    <h5 class="list-group-item-heading"><a href="people#anthony_bittle">Anthony Bittle</a></h5>
    <p class="list-group-item-text">TBA</p>

    <hr>
    <a name="virtualization"></a>
    <h4 class="list-group-item-heading">Virtualization</h4>
    <h5 class="list-group-item-heading"><a href="people#spencer_rinehart">Spencer Rinehart</a></h5>
    <p class="list-group-item-text">TBA</p>

<hr>
<p>If you have any questions please feel free to <a href="mailto:de12bcon@dominionenterprises.com">email us</a> for more details.</p>    
</div>

{% endblock %}
