{% extends "base.html" %}
{% block title %}Topics{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-home jumbotron-other text-left">
  <h2>Topic Details</h2>

  {% for id, topic in topics %}
    <hr>
    <a name="{{ id }}"></a>
    <h4 class="list-group-item-heading">{{ topic.title }}</h4>
    <h5 class="list-group-item-heading">
      {%- for presenter in topic.presenters -%}
        {% if loop.last and not loop.first %}and {% endif -%}
        <a href="{{ urlFor("#{year}-people") }}#{{ presenter }}">{{ people[presenter].name }}</a>
        {%- if not loop.last %}, {% endif -%}
      {%- endfor -%}
    </h5>
    <p class="list-group-item-text">{{ topic.description }}</p>
  {% endfor %}

  <hr>
  <p>If you have any questions please feel free to <a href="mailto:de12bcon@dominionenterprises.com">email us</a> for more details.</p>    
</div>
{% endblock %}
